* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: #141d2f;
}

.container {
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 0;
  align-items: center;
}
.navbar .site-name h2 {
  color: #fff;
  font-size: 20px;
}
.navbar .navbar-night {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar .navbar-night p {
  color: #697c9a;
  font-size: 20px;
  font-weight: bold;
}
.navbar .navbar-night i {
  color: #697c9a;
}

.navbar-input {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: #1e2a47;
  height: 70px;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 25px;
}
.navbar-input i {
  color: #0079ff;
  font-size: 32px;
  margin-left: 20px;
}
.navbar-input input {
  width: 70%;
  border: none;
  outline: none;
  background-color: #1e2a47;
  font-size: 20px;
  color: #fff;
}
.navbar-input .btn {
  background-color: #0079ff;
  border: none;
  width: 90px;
  height: 50px;
  margin-right: 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0px 5px 15px #0079ff;
}
.navbar-input .btn:active {
  box-shadow: 0px 2px 5px #0079ff;
}

.main {
  background-color: #1e2a47;
  height: 420px;
  padding: 40px;
  display: flex;
  border-radius: 10px;
}
.main .main-img img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .main-info {
  width: 80%;
}
.main .main-info .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main-info .main-header .userName {
  margin-left: 35px;
}
.main .main-info .main-header .userName h2 {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
}
.main .main-info .main-header .userName a {
  text-decoration: none;
  color: #0079ff;
}
.main .main-info .main-header .day p {
  color: #fff;
  margin-top: 30px;
}
.main .main-info .bio {
  color: #fff;
  margin: 20px 0 0 35px;
}
.main .main-info .main-section {
  background-color: #141d2f;
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin: 20px 0 30px 35px;
  height: 110px;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
}
.main .main-info .main-section .section .following {
  color: #fff;
  font-size: 18px;
}
.main .main-info .main-section .section .number {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}
.main .main-info .main-footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 45px;
}
.main .main-info .main-footer .footer-info {
  display: flex;
  gap: 10px;
}
.main .main-info .main-footer .footer-info i {
  color: #fff;
  font-size: 16px;
}
.main .main-info .main-footer .footer-info p {
  color: #fff;
  margin-bottom: 8px;
}

@media only screen and (max-width: 660.98px) {
  .container {
    width: 500px;
  }
  .main {
    flex-direction: column;
    text-align: center;
    height: 650px;
  }
  .main .main-info {
    flex-direction: column;
  }
  .main .main-info .main-header {
    flex-direction: column;
    text-align: start;
  }
  .main .main-info .main-section {
    margin-left: -10px;
    width: 450px;
  }
  .main .main-info .main-footer {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */